
table
{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	table-layout: fixed;
}

th, td, tr { border: none !important; }

th
{
    padding-bottom: 10px !important;
    font-weight: 400 !important;
}

div.page-content h1
{
    border-bottom: 2px solid #404040;
    outline-offset: 10px;
    padding-bottom: 10px;
    text-align: center;
}