// Reset some basic elements
*
{
	-webkit-transition: background-color 75ms ease-in, border-color 75ms ease-in;
	-moz-transition: background-color 75ms ease-in, border-color 75ms ease-in;
	-ms-transition: background-color 75ms ease-in, border-color 75ms ease-in;
	-o-transition: background-color 75ms ease-in, border-color 75ms ease-in;
	transition: background-color 75ms ease-in, border-color 75ms ease-in;
}

.notransition
{
	-webkit-transition: none;
	-moz-transition: none; 
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

html
{
	overflow-x: hidden;
	width: 100%;
}

body,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
{
	padding: 0;
	margin: 0;
	margin-top: 14px;

	color: $black;
	font-weight: 300;

	& + ul, 
	& + ol { margin-top: 10px; }
	@include media-query($on-mobile) { scroll-margin-top: 65px; }
}

p
{
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
}

a // Links
{
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;

	&:hover { color: $text-link-blue; }
}

body // Basic styling
{
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	color: $text-base-color;
	background-color: $white;
	font: $normal-weight #{$base-font-size}/#{$base-line-height} $sans-family;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	box-sizing: border-box;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
pre, ul, ol, dl,
blockquote,
figure
{
	margin-top: $spacing-full - 20;
	margin-bottom: $spacing-full - 20;
}

p { margin-bottom: 15px; }

strong, b // strong | bold
{
	font-weight: $bold-weight;
	color: $black;
}

hr // Horizontal Rule
{
	// border-bottom: 0;
	border-style: solid;
	border-color: $light;
}

img
{
	max-width: 100%;
	vertical-align: middle;
	-webkit-user-drag: none;
	margin: 0 auto;
	text-align: center;
}

figure
{
	position: relative;
	filter: drop-shadow(0px 0px 5px #00000030);
}

// Image inside Figure tag
figure > img
{
	display: block;
	position: relative;
}

// Image caption
figcaption
{
	font-size: 13px;
	text-align: center;
}

ul // Lists
{
	li
	{
		display: list-item;
		text-align: -webkit-match-parent;
	}
}

ol
{
	li { position: relative; }
}

ul, ol
{
	margin-top: 0;
	margin-left: $spacing-full;
}

li
{
	padding-bottom: 1px;
	padding-top: 1px;

	&:before { color: $black; }

	> ul,
	> ol
	{
		margin-bottom: 2px;
		margin-top: 0;
	}
}

del {color: inherit;}
em { color: inherit; }

blockquote
{
	color: $blockquote-text;
	opacity: 0.9;
	border-left: 5px solid $bloquote-border;
	padding: 0 0 0 1rem;
	margin-left: .3rem;
	margin-right: .3rem;
	font-size: 1em;

	> :last-child
	{
		margin-bottom: 0;
		margin-top: 0;
	}
}

.wrapper
{
	max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full} * 2));
	max-width: calc(#{$narrow-size} - (#{$spacing-full} * 2));
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-full;
	padding-left: $spacing-full;
	@extend %clearfix;

	@include media-query($on-mobile)
	{
		max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full}));
		max-width: calc(#{$narrow-size} - (#{$spacing-full}));
		padding-right: $spacing-full - 10;
		padding-left: $spacing-full - 10;

		&.blurry
		{
			animation: 0.2s ease-in forwards blur;
			-webkit-animation: 0.2s ease-in forwards blur;
		}
	}
}

u { text-decoration-color: #d2c7c7; } // Underline
small { font-size: $small-font-size; }


sup // Superscript
{
	border-radius: 10%;
	top: -3px;
	left: 2px;
	font-size: small;
	position: relative;
	margin-right: 2px;
}

.overflow-table { overflow-x: auto; }

table
{
	width: 100%;
	margin-top: $spacing-half;
	border-collapse: collapse;
	text-align: left;

	th { font-weight: 300; }
	
	th, td, tr
	{
		padding: 2px 7px;
		border: 1px solid #000000;
	}
}

// Clearfix
%clearfix:after
{
	content: "";
	display: table;
	clear: both;
}

// Github Gist clear border
.gist
{
	table
	{
		border: 0;
		tr, td { border: 0; }
	}
}
